/*
Milestone 1
Replica della grafica con la possibilità di avere messaggi scritti
dall’utente (verdi) e dall’interlocutore (bianco) assegnando due
classi CSS diverse

Milestone 2
Visualizzazione dinamica dei messaggi: tramite la direttiva v-for,
visualizzare tutti i messaggi relativi al contatto attivo 
all’interno del pannello della conversazione
Click sul contatto mostra la conversazione del contatto cliccato.

Milestone 3
Aggiunta di un messaggio: l’utente scrive un testo nella parte 
bassa e digitando “enter” il testo viene aggiunto al thread sopra,
come messaggio verde
Risposta dall’interlocutore: ad ogni inserimento di un messaggio,
l’utente riceverà un “ok” come risposta, che apparirà dopo
1 secondo.
*/
/*RESET-RULE*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/*CONTAINERS*/
.row-container {
    display: flex;
    flex-direction: row;
}

.column-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.app-container {
    width: 80%;
    height: 96vh;
    top: 20px;
    position: absolute;
}

.input-container {
    border-left: 1px solid #d9d9d9;
    width: 100%;
    height: 70px;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contacts-container {
    width: 100%;
    height: calc(96vh - 196px);
    background-color: #eaeaea;
    overflow-y: scroll;
}

.search-container {
    width: 100%;
    height: 46px;
    padding: 6px;
    display: flex;
    background-color: #e9ebeb;
}

.message-container {
    width: 80%;
}

.icons-container {
    display: flex;
    gap: 20px;
    margin-right: 40px;
}


/*ID'S*/
#sidebar {
    width: 36%;
    height: 96vh;   
}

#my-name {
    margin-left: 4px;
}

#my-access {
    margin-left: 4px;
    color: #8e8daa;
    font-size: 0.8em;
}

#friend-name {
    margin-left: 4px;
}

#friend-access {
    margin-left: 4px;
    color: #8e8daa;
    font-size: 0.8em;
}

#chat {
    width: 64%;
    height: 96vh;
}

#friend-account {
    border-left: 1px solid #d9d9d9;
}

#active-notification {
    width: 100%;
    height: 80px;
    padding: 20px;
    display: flex;
    align-items: center;
    background-color: #8edafc;
}

#chat-interface {
    width: 100%;
    height: calc(96vh - 140px);
    background-image: url(img/mine.jpg);
    overflow-y: scroll;
}

#search-contact {
    width: 20%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#active-notification .column-container #my-access {
    text-decoration: underline;
}

#search-contact .icons {
    font-size: 18px;
}

#search-contacts {
    width: 80%;
    height: 90%;
    display: flex;
    align-items: center;
    border-left: 1px solid #d9d9d9;
    color: #8e8daa;
    font-size: 0.8em;
    background-color: white;
}

#search-input {
    width: 100%;
    padding: 4px;
    border-style: none;
    outline: none;
    color: #8e8daa;
}

#message-input {
    width: 100%;
    height: 40px;
    padding: 4px;
    border-radius: 12px;
    border-style: none;
    outline: none;
    color: #8e8daa;
}


/*CLASSESS*/
.top-accounts {
    width: 100%;
    height: 70px;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.my-display {
    display: flex;
    justify-content: center;
}

.contact {
    display: flex;
    align-items: center;
    padding: 6px 8px 6px 8px;
    font-size: 0.8em;
    background-color: white;
    border-bottom: 1px solid #eaeaea;
}

.change-contact {
    display: flex;
    align-items: center;
    padding: 6px 8px 6px 8px;
    font-size: 0.8em;
}

.contact:hover {
    background-color: #e9ebeb;
}

.aside-top-account, .aside-right-top-account {
    display: flex;
    align-items: center;
}

.avatar {
    width: 54px;
    border-radius: 50%;
    margin-left: 12px;
}


.bell {
    color: #8edafc;
    font-size: 20px;
}

.bell-round {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.icons {
    font-size: 24px;
    color: #b1b1b1;
}

.last-show {
    color: #d5cdd0;
    font-size: 0.8em;
}

.m-4 {
    margin-left: 12px;
}

.green-side {
    background-color: #009688;
    width: 100%;
    height: 18vh;
}

.grey-side {
    background-color: #d8dbd5;
    width: 100%;
    height: 82vh;
}